certifi==2018.11.29
chardet==3.0.4
cycler==0.10.0
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.8.2
idna==2.7
kiwisolver==1.0.1
lxml==4.2.5
matplotlib==3.0.2
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
nltk==3.4
numpy==1.15.4
pandas==0.23.4
Pillow==5.3.0
plac==0.9.6
preshed==2.0.1
pyndri==0.4
pyparsing==2.3.0
python-dateutil==2.7.5
pytrec-eval==0.3
pytz==2018.7
regex==2018.1.10
requests==2.20.1
singledispatch==3.4.0.3
six==1.11.0
spacy==2.0.18
thinc==6.12.1
toolz==0.9.0
torch==1.0.0
torchvision==0.2.1
tqdm==4.28.1
ujson==1.35
Unidecode==1.0.23
urllib3==1.24.1
wrapt==1.10.11
